ol {
  list-style: none;
  display: inline-grid;
  grid-template-columns: repeat(7, 3rem);

  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

li {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.day-name {
  font-weight: bold;
  text-align: center;
  color: gray;
  cursor: default;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
}
.calendario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  /* height: 100vh; */
}

.contenedor-mes {
  height: 400px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

div {
  text-align: center;
  display: flex;
}

.bloqueado {
  color: lightgray;
  cursor: default;
}

.disponible {
  color: blue;
}

.seleccionado {
  background-color: rgb(105, 238, 105);
}

.error {
  background-color: red !important;
}

.titulo {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-left: 1rem;
  margin-right: 1rem;
}

.snackDias {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightcyan;
  padding: 0;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 5px;
  bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
  box-sizing: border-box;
  cursor: default;
}

.snackFechas {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightcyan;
  padding: 0;
  position: fixed;
  width: auto;
  border-radius: 3px;
  left: 5px;
  height: 50px;
  bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
  box-sizing: border-box;
  cursor: default;
}
