<div class="calendario">
  <div *ngFor="let item of calendar; let i= index">

    <div class="contenedor-mes">
      <h1> {{item[0].numeroMes | mes}} - {{item[0].numeroAnio}}</h1>

      <ol>
        <li class="day-name" *ngFor="let dia of dias">{{dia |
          slice:0:3}}</li>
        <li
          (click)="selectDay(number, i,j)"
          *ngFor="let number of item; let first= first; ; let j= index"
          class="dia-numero"
          [ngClass]="{'bloqueado': !number.disponibilidad, 'disponible':
          number.disponibilidad, 'seleccionado': number.seleccionado,'error':
          (number.disponibilidad == false && number.seleccionado == true)}"
          [style.gridColumnStart]="first? (number.indexNumeroSemana === 7 ?
          0 : number.indexNumeroSemana + 1) : ''">{{number.numeroDia}}</li>
      </ol>
    </div>
  </div>
</div>
