<div class="componente">
  <div class="precio__noche"><span>${{precio}}</span><span> / noche</span></div>
  <div class="fechas">
    <span>Entrada: </span>
    <span *ngIf="fechas.desde != null ;else
      other_content">El mediodia del {{fechas.desde |
      date: 'dd/MM/yyyy'}}
    </span>
    <span>Salida:
    </span>
    <span *ngIf="fechaSiguiente != null;else
      other_content">La mañana del {{fechaSiguiente |
      date:
      'dd/MM/yyyy'}}
    </span>
  </div>

  <button class="reservar__btn" [disabled]="cantidadDias == 0" mat-raised-button
    color="primary">Reservar</button>
  <mat-divider></mat-divider>
  <div class="valor"><div>Total
      por {{cantidadDias}} noches</div>
    <div>${{precio*cantidadDias}}</div></div>
</div>

<ng-template #other_content><div>-</div></ng-template>
