.componente {
  width: 300px;
  margin: 0.5rem;
  border-radius: 1rem;
  /* background-color: aliceblue; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

mat-divider {
  background-color: #3f51b5;
}

.precio__noche {
  align-self: start;
  margin-bottom: 2rem;
}

.precio__noche > span:nth-child(1) {
  font-weight: 800;
  font-size: 1.5rem;
}

.fechas {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.fechas > span:nth-child(1),
.fechas > span:nth-child(3) {
  font-weight: 500;
}

.reservar__btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.valor {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 1rem;
}
