<div class="componente" style="display:flex; flex-direction: column;">
  <div style="align-self:start; margin-bottom:2rem;"><span
      style="font-weight: 800;font-size: 1.5rem">${{precio}}</span><span>/noche</span></div>
  <div style="margin-top:0.5rem;margin-bottom:0.5rem">
    <div><span style="font-weight: 500">Entrada: </span>
      <span *ngIf="fechas.desde ;else
        other_content">El mediodia del {{fechas.desde |
        date: 'dd/MM/yyyy'}}
      </span>
    </div>
    <div style="margin-top:0.5rem;"><span style="font-weight: 500">Salida:
      </span>
      <span *ngIf="fechaSiguiente ;else
        other_content">La mañana del {{fechaSiguiente |
        date:
        'dd/MM/yyyy'}}
      </span>
    </div>
  </div>

  <button mat-raised-button color="primary" style="margin-top:2rem;
    margin-bottom: 1rem;">Reservar</button>
  <mat-divider></mat-divider>
  <div class="valor" style="display:flex;justify-content: space-between;
    font-weight:800;font-size: 1.2rem; margin-top:1rem;margin-bottom:1rem;"><div>Total
      por {{cantidadDias}} noches</div>
    <div>${{precio*cantidadDias}}</div></div>
</div>

<ng-template #other_content>-</ng-template>
